@import url(../common/common.css);

@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

body {
  width: max-content;
  min-width: 850px;
  max-width: 3500px;
}

.container {
  width: max-content;
  min-width: 850px;
  max-width: 3500px;
  font-family: Inconsolata, monospace;
}

.box {
  display: inline-block;
  min-width: 810px;
  max-width: 3460px;
  padding: 10px;
  background: rgba(13, 13, 13, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: pre-wrap;
  overflow-wrap: normal;
  word-break: normal;
  font-family: Inconsolata, monospace;
  color: #fff;
}
